
<%- include("header") -%>

<div class="neomorphism-card">

  <form class="" action="/journal" method="post">
    <input type="text" name="entry" placeholder="What are you grateful for?">
    <button type="submit" name="submitEntry"></button>
  </form>

</div>


<%- include("footer") -%>
