
html,body {
  height: 90%;
}
.neomorphism-card {
  margin: 5%;
  padding: 3%;
  box-shadow: 1px 1px 6px 2px rgba(0,0,0,.15),
              1px 1px 6px 2px rgba(0,0,0,.15);
  border-radius: 8px;
  align-self: center;
  background: #ffffff;
  text-align: center;
  height: 100%;
}

.inputEntry {
  height: 100%;
  width: 100%;
}

.input-textarea {
  border-radius: 10px;
  border-color: rgb(0,0,0,0.3);
}

.input-textarea-title {
  align-self: end;
  margin-bottom: 0px;
  color: rgb(0,0,0,0.3);
}

.input-input-subject-title {
  align-self: end;
  margin-bottom: 0px;
  color:rgb(0,0,0,0.3);
}

.input-input-subject {
  border-radius: 10px;
  border-color:rgb(0,0,0,0.3);
  border-width: 1px;
}



/* start of grid */

.list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.list-journal {
  display: grid;
  grid-template-columns: auto 80px 50px;
  grid-template-rows: 5% 5% 7% 77% 5%;
}

.list-subject-entry {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.list-journal-header-subject {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self:start;
}

.list-input-entry {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.list-button {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: end;
  justify-self: end;
  align-items: center;
  justify-content: center;
}

.list-journal-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self:start;
}
/* end of grid */


/* buttons style */
.button-round {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  border: none;
  height: 38px;
  width:38px;
  background-color: white;
  color: blue;
  border-radius: 100%;
  box-shadow: 1px 1px 6px 2px rgba(0,0,0,.15),
              1px 1px 6px 2px rgba(0,0,0,.15);
  padding-bottom: 5px;
}
